.seleccionar-placa {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #333;
  }
  
  .form-control {
    width: 100%;
    padding: 0.375rem 0.75rem;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .filtro-placa,
  .input-reducido {
    width: 80%;
    margin: 0 auto;
    display: block;
    text-align: center;
  }
  
  .centered-label {
    display: block;
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .lista-contenedor {
    width: 100%;
    max-height: 150px;
  }
  
  .lista-scrollable {
    max-height: 150px;
    overflow-y: auto;
  }
  
  .list-group-item {
    cursor: pointer;
    margin-bottom: 5px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    background-color: #fff;
    transition: background-color 0.3s ease;
  }
  
  .list-group-item:hover {
    background-color: #f1f1f1;
  }
  