/* DriverFormSt.css */

.form-group {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-control {
  width: 80%;
  padding: 0.375rem 0.75rem;
  margin: auto;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.form-control:focus {
  border-color: #007bff;
}

.form-label {
  width: 100%;
  padding-right: 10px;
  margin-right: 10px;
  text-align: center;
  font-weight: bold;
}

.text-danger {
  color: red;
  font-size: 0.875rem;
}

.error-message {
  text-align: center;
  margin-top: 0.25rem;
}
.registration-form {
  width: 180%; /* Ajusta el ancho del formulario */
  margin-left: -37%; /* Ajusta el margen izquierdo para mover el formulario hacia la izquierda */
  margin-right: auto; /* Asegura que no haya margen derecho */
  padding: 1rem;
  border: 1px solid #4769c0;
  border-radius: 10px;
  background-color: #eef0ea;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

  .button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.btn {
    width: 100px;
    padding: 0.5rem 1rem;
    margin: 0.2rem;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-success {
    background-color: #28a745;
    color: white;
}

.btn-success:hover {
    background-color: #218838;
    transform: scale(1.05);
}

.btn-secondary {
    background-color: #6c757d;
    color: white;
}

.btn-secondary:hover {
    background-color: #545b62;
    transform: scale(1.05);
}