
/* Resto del CSS */

.app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    background: #141414;
    color: #ffffff;
    padding-top: 30px;
 }

.division {
    margin: 10px 0;
    /* Ajusta este valor a tus necesidades */
}

label {
    display: block;
    color: black;

}

.uploaded-image {
    max-width: 100%;
    height: auto;
}

/**/
/* Estilos Generales */
.container {
  
    color: white;
    background: #252525;
    padding: 20px;
    border-radius: 5px;
    overflow: hidden;
    padding-bottom: 0;
}

.row {
    margin-bottom: 20px;
}

.border {
    border: 1px solid #1a1818;
    background: #303030;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    color: white;
}

.p-3 {
    padding: 1rem;
}

/* Botones */
button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}


/* Tablas en modo oscuro */
/* Estilos generales para la tabla */
table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin-top: 20px;
    background-color: white;
    color: black;
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    text-align: center;
   
    padding: 8px;
    border-bottom: 1px solid #ddd; /* Líneas divisorias horizontales */
    border-right: 1px solid #ddd; /* Líneas divisorias verticales */
}



/* Aplica bordes redondeados específicamente a las celdas de las esquinas */
th:first-child {
    border-top-left-radius: 8px;
}

th:last-child {
    border-top-right-radius: 8px;
}

td:first-child {
    border-bottom-left-radius: 8px;
}

td:last-child {
    border-bottom-right-radius: 8px;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 8px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 8px;
}

tr:hover {
    background-color: #e0e0e0;
}
/* Formularios */
input[type="text"], input[type="file"], input[type="number"] {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

label {
    font-weight: bold;
    margin-top: 15px;
}

.uploaded-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Mejoras Visuales */
.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

.vh-100 {
    min-height: 100vh;
}

/* Ajustes de Espaciado */
.division, .form-group {
    margin-bottom: 20px;
}

#info-veh {
    background: #252525;
    border: none;
    overflow: hidden;
}

#sl-placa {
    padding: 8px;
    border-radius: 4px;
    box-sizing: border-box;
    width: 27%;
    background: #303030;
    border-radius: 8px;
}

#sl-placa option {
    background: #303030;
    color: white;
}

#sl-placa h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}

#sl-placa h6 {
    color: white;
    margin-top: 20px;
    text-align: left;
}

#info-tecnica {
    width: 83%;
    background: #303030;
    color: white;
    overflow: hidden;
    width: 71%;
    margin-left: 10px;
    border-radius: 8px;
}
#info-tecnica h4 {
    margin-top: 10px;
    
}

#info-tecnica label {
    color: white;
}

#ht-mant {
    background: #303030;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 15px;
    margin-bottom: 15px;
}

#ht-mant h4 {
    margin-top: 10px;
}

#ht-mant label {
    color: white;
}

#ht-mant input {
    background: whitesmoke;
    color: black;
    border: 1px solid #303030;
    border-radius: 8px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#reg-ing .form-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

#reg-ing .form-group {
    padding: 0 15px; /* Ajusta el espaciado interno */
}

#reg-ing .col-form-label {
    color: white;
    margin-bottom: 5px; /* Ajusta el margen inferior de los labels */
}

#reg-ing input {
    background: whitesmoke;
    color: black; /* Cambiado a negro para mejor contraste */
    border: 1px solid #303030;
    border-radius: 8px;
    margin-bottom: 10px; /* Añade un margen inferior para separar los inputs */
    width: 100%; /* Ajusta esto según necesites, por ejemplo, 100% para llenar el contenedor */
    max-width: 400px; /* Ajusta esto para controlar el ancho máximo */
    display: block; /* Hace que margin: auto funcione para centrar horizontalmente */
    margin-left: auto;
    margin-right: auto;
}

#reg-ing button {
    color: white;
    border: 1px solid #303030;
    border-radius: 8px;
    padding: 8px;
    margin-top: 10px;
    width: 20%; /* Ajusta esto según necesites, por ejemplo, 50% o 200px */
    max-width: 800px; /* Ajusta esto para controlar el ancho máximo */
    display: block; /* Hace que margin: auto funcione para centrar horizontalmente */
    margin-left: auto;
    margin-right: auto;
}

#reg-ing h4 {
    margin-bottom: 20px;
}
#reg-ing {
    background: #303030;
    border-radius: 8px;
    padding: 20px;
}

#reg-ing p {
    margin-top: 20px;
    color: red;
    margin-bottom: 20px;
}
#reg-ing {
    margin: 0;
}