/* DashboardSt.css */
.view-header {
  text-align: center;
  margin-bottom: 20px;
}

.view-title {
  font-size: 2.5em;
  color: #333;
}
 .view-title {
  color: white;
}
.row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
  padding: 0 10px;
}

.col {
  flex: 1;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2em;
  color: #333;
  height: 550px;
  padding: 10px;
}

.chart-title {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #555;
}

.search-bar {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.chart-container {
  width: 100%;
  height: calc(100% - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}
