/* InfraccionesChartSt.css */
.infracciones-chart {
    width: 100%;
    margin: 0;
    padding: 10px;  /* Reducir el padding */
    box-sizing: border-box; /* Añade esto para asegurar que el padding no afecte el tamaño del contenedor */
    background-color: #2e2e2e;
  }
  
  .search-bar {
    width: 100%;  /* Ajustar el ancho del filtro para que ocupe todo el ancho disponible */
    padding: 5px;  /* Reducir el padding */
    margin-bottom: 10px;  /* Reducir el margen inferior */
    border-radius: 5px;
    font-size: 0.8em;  /* Reducir el tamaño de la fuente */
    box-sizing: border-box; /* Añade esto para asegurar que el padding no afecte el tamaño del input */
    background-color: #3e3e3e; /* Un gris oscuro más claro */
    color: #fff; /* Asegurar que el texto sea visible */
    border: 1px solid #fff; /* Añadir borde blanco */
  }
  
  #infraccionesChart {
    width: 100%;  /* Asegurar que el gráfico ocupe todo el ancho disponible */
    height: 400px;  /* Ajustar la altura del gráfico */
  }