/* Estilos para ChoferesVehiculosView.vue */

.container {
    margin-top: 20px;
  }
  
  .blockquote {
    margin-top: 10px;
    font-size: 1.2em;
  }
  
  .img-fluid {
    max-width: 100%;
    height: auto;
  }
  
  .text-left {
    text-align: left;
  }
  
  .row > .col {
    margin-bottom: 10px;
  }
  
  .vehicle-info span:first-child {
    display: inline-block;
    width: 150px;
    font-weight: bold;
  }
  
  .vehicle-info span:last-child {
    display: inline-block;
  }
  
  .vehicle-info {
    text-align: left;
  }
  