.repuesto-table {
    width: 100%;
    margin-bottom: 20px;
    background-color: #444;
    color: white;
}
.search-bar {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    box-sizing: border-box;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #333;
    color: white;
}
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #333;
    color: white;
}
th, td {
    border: 1px solid #555;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #444;
    color: white;
}
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.pagination button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}
.pagination button:disabled {
    background-color: #555;
    cursor: not-allowed;
}
